body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #333;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

#uploaded-image {
    display: block;
    max-width: 100%;   /* ensure the image does not exceed the container width */
    max-height: 80vh;  /* set a max height based on viewport height */
    margin: 20px auto; /* center the image */
    border: 1px solid #ddd;
}

#prediction-text {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}
